<div class="eqLogic-widget eqLogic allowResize" style="width: 260px;height: auto;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
	<span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
	<i class='fa fa-refresh pull-right cursor refresh cmd' style="margin-top: 3px;margin-right: 3px;"></i>
	<span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
	<div style="padding:10px;">
		<center class="widget-name">
			<a href="#eqLink#" style="font-size:1.1em; #hideEqLogicName#">#name_display#<span style="font-size:0.75em; position:relative; top:-2px;">#object_name#</span></a>
		</center>
		<div class="text-center font-weight-bold" style="background-color:black;color:red;margin:0 40px;border:1px solid white;">
			<span id="statusLed#id#" class="far fa-lightbulb" style="float:right;padding:5px 3px 0px 0px;color:#444444;font-size:10px;font-weight:bold;"> </span>
			<span id="statusNotif#id#" style="font-size:25px;">#statusNotif#</span><br />
			<span id="statusAuto#id#" style="font-size:8px;color:#aaaaaa;margin-right:20px;">#LUM#</span><span id="statusInt" style="font-size:10px;color:#ffffff;">#INT#</span>
		</div>
		<div class="text-left" style="margin:5px 15px;">Intensité ( Manuel )
			<input type="range" value="#INT#" max="15" min="0" step="1" id="slider#INTcmd_id#" data-type="action" data-subtype="slider" title="Réglase intensité( Manuel )">
		</div>
		<div>

			<label for="#notif_id#_title">Options</label>
			<input id="#notif_id#_title" class="form-control" type="text" data-type="action" data-subtype="message" placeholder="Options Notif.">


			<label for="#notif_id#_message">Message</label>
			<textarea id="#notif_id#_message" class="form-control" row="3" data-type="action" data-subtype="message" placeholder="notification"></textarea>
			<div style="margin:5px 0;">
				<button class="btn cmd center-block btn-sm btn-info" id="btn#notif_id#">Envoyer notification</button>
			</div>
		</div>
		<div class="cmd noRefresh" id="#HOR_id#" data-type="info" data-subtype="binary" data-cmd_id="#HOR_id#">#HOR#</div>
		<div class="cmd noRefresh" id="#SEC_id#" data-type="info" data-subtype="binary" data-cmd_id="#SEC_id#">#SEC#</div>
		<div class="cmd noRefresh" id="#LED_id#" data-type="info" data-subtype="binary" data-cmd_id="#LED_id#"></div>
		<div id="infodht#id#">
		<hr class="my-1" />
		<p class="text-center" >Info DHT</p>
		<div style="font-size:1.5em;">
			<span class="divers-thermometer31 pull-left"></span>
			<span id="temp#temp_id#" class="cmd  pull-left #temp_history# " data-type="info" data-subtype="numeric" data-cmd_id="#temp_id#" title="#temp_collect#">#temp_text#</span>
		</div>

		<div style="font-size:1.5em;">
			<span id="hum#hum_id#" class="cmd  pull-right #hum_history#" data-type="info" data-subtype="numeric" data-cmd_id="#hum_id#" title="#hum_collect#">#hum_text#</span>
			<span class="fa fa-tint pull-right"></span>
		</div>
		<div class="clearfix"></div>
		<hr class="my-2" />
		</div>
		<div class="btn-toolbar" role="toolbar horloge" >
  	<div class="btn-group mr-2" role="group" aria-label="Afficher / masquer horloge">
    <button type="button" class="btn cmd" data-cmd_id="#horOff_id#" title="Horloge Off" onclick="actBtn('#horOff_id#','#HOR_id#',0);" style="background-color:#cmd-background-color#" ><span class="fa fa-power-off "  style="color:black;font-size:1.5em;"></span></button>
    <button type="button" class="btn cmd" data-cmd_id="#horOn_id#" title="Horloge On" onclick="actBtn('#horOn_id#','#HOR_id#',1);" style="background-color:#cmd-background-color#" ><span class="fa fa-clock-o"  style="font-size:1.5em;"></span></button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Affichage secondes">
    <button type="button" class="btn  cmd " data-cmd_id="#secOn_id#" title="Afficher Secondes" onclick="actBtn('#secOn_id#','#SEC_id#',1);" style="background-color:#cmd-background-color#" ><span class="fas fa-plus-square"  style="font-size:1.5em;"></span></button>
    <button type="button" class="btn  cmd  " data-cmd_id="#secOff_id#" title="Masquer Secondes" onclick="actBtn('#secOff_id#','#SEC_id#',0);" style="background-color:#cmd-background-color#" ><span class="fas fa-minus-square"  style="color:black;font-size:1.5em;"></span></button>
  </div>
  <div class="btn-group" role="group" aria-label="Auto">
    <button type="button" class="btn  cmd " data-cmd_id="#lumOn_id#" title="Mode Auto" onClick="autoMode();" style="background-color:#cmd-background-color#" ><span class="fas fa-magic"  style="font-size:1.5em;"></span></button>
	</div>
</div>
<center>
	<div class="btn-group " role="group" aria-label="Auto" style="margin-top:4px;">
	<button id="btnLedOn#id#" type="button" class="btn cmd " data-cmd_id="#ledOn_id#" title="commande LED" onclick="jeedom.cmd.execute({id:'#ledOn_id#'});$('#statusLed').css('color', 'yellow');" style="background-color:#cmd-background-color#" ><span class="far fa-lightbulb"  style="font-size:1.5em;"></span></button>
	<button id="btnLedOff#id#" type="button" class="btn cmd " data-cmd_id="#ledOff_id#" title="commande LED" onclick="jeedom.cmd.execute({id:'#ledOff_id#'});$('#statusLed').css('color', '#444444');" style="background-color:#cmd-background-color#" ><span class="fas fa-lightbulb"  style="color:black; font-size:1.5em;"></span></button>
</div>
</center>
		<script>
			sn#id# = $('#statusNotif#id#').text();
			am#id# = $('#statusAuto#id#').text();
			flash#id# =true;
			$("##HOR_id#").hide();
			$("##SEC_id#").hide();
			if ( '#LED#' !='no')  {
					$("##LED_id#").hide();
					if ('#LED#' == 1) {
						document.getElementById('statusLed#id#').style.color = 'yellow';
					}
					else document.getElementById('statusLed#id#').style.color = '#444444';
				}
				else {
					$("#btnLedOn#id#").hide();
					$("#btnLedOff#id#").hide();
				}
			if ('#temp_text#'==" --- ") {
				$("#infodht#id#").hide();
			}

			$('#btn#notif_id#').on('click', function() {
				jeedom.cmd.execute({
					id: '#notif_id#',
					value: {
						'message': $('##notif_id#_message').val(),
						'title': $('##notif_id#_title').val()
					}
				});
			});

			function refreshAm() {
				if (am#id# == "1") $('#statusAuto#id#').text("Mode Automatique");
				else $('#statusAuto#id#').text("Mode Manuel");
			}

			function adjSn() {
				sn#id# = 1;
				if ($('##SEC_id#').html() == "0") sn#id# = 2;
				if ($('##HOR_id#').html() == "0") sn#id# = 0;
			//	refreshSn();
			}

			function actBtn(idBtn, idState, val) {
				//console.log("valeur : " + idBtn + " id2 :" + idState + " val :" + val);
				jeedom.cmd.execute({
					id: idBtn
				});
				$("#" + idState).html(val);
				adjSn();
			}

			function autoMode() {
				jeedom.cmd.execute({
					id: '#lumOn_id#'
				});
				am#id# = "1";
				refreshAm();
			}

			$('#slider#INTcmd_id#').on("change", function(e) {
				lum = $(this).val();
				//console.log("valeur de intensité : "+lum);
				jeedom.cmd.execute({
					id: '#INTcmd_id#',
					value: {
						'slider': lum
					}
				});
				$('#statusInt#id#').text(lum);
				am#id# = "0";
				refreshAm();
			})


			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function() {
				jeedom.cmd.execute({
					id: '#refresh_id#'
				});
			});

			function timeNotif()
				{
				if (sn#id#=="0") horNotif="OFF";
				else {
					horloge = new Date();
					heure = horloge.getHours();
					min = horloge.getMinutes();
					sec = horloge.getSeconds();
					if (sec < 10) sec0 = "0";
					else sec0 = "";
					if (min < 10) min0 = "0";
					else min0 = "";
					if (heure < 10) heure0 = "0";
					else heure0 = "";
					if (sn#id#=="1") horNotif = heure0 + heure + ":" + min0 + min + ":" + sec0 + sec;
					else {
						if (flash#id#) horNotif = heure0 + heure + ":" + min0 + min ;
						else horNotif= heure0 + heure + " " + min0 + min ;
						flash#id#=!flash#id#;
					}
				}
				//console.log(horNotif);
				$('#statusNotif#id#').text(horNotif);

				}
// déclenchement fonction lors du démarrage



$(function() {
		//console.log( "ready!" );
		timeNotif();
		refreshAm();
		$("head").append('<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">');
		setInterval(function(){
			timeNotif() // toutes les secondes
		}, 1000);
});

		</script>
</div>
</div>
