

<div class="eqLogic-widget eqLogic " style="width: auto;height: auto;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#" >
	<span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
	<i class='fa fa-refresh pull-right cursor refresh cmd' style="margin-top: 3px;margin-right: 3px;"></i>
<span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
<div style="margin:10px;">
	<center class="widget-name">
  <span style="font-size:1em; position:relative; top:-2px;">#name_display#</span>
  </center>
<div  style="background-color:black;color:red;margin:0 10px;border:1px solid white;">
	<span id="statusLed#id#" class="far fa-lightbulb" style="float:right;padding:5px 5px 0px 0px;color:#444444;font-size:0.8em;font-weight:bold;"> </span>
	<center><span id="statusNotif#id#" style="font-size:1.2em;font-weight: bold;" >#statusNotif#</span></center>
	<center><span id="statusAuto#id#" style="font-size:0.6em;color:#aaaaaa;margin-right:25px;">#LUM#</span><span id="statusInt#id#" style="font-size:0.75em;color:#ffffff;">#INT#</span></center>
</div>
<center>
<div class="text-left" style="margin:5px 15px;">
<input type="range" value="#INT#" max="15" min="0" step="1" id ="slider#INTcmd_id#" data-type="action" data-subtype="slider" title="Réglase intensité( Manuel )">
<button type="button"  title="Mode Luminosité Manuel" style="width:auto;display: inline;padding: 1px;height: auto;background-color:#cmd-background-color#;font-size:0.7em;" onClick="lumMan('#slider#INTcmd_id#','#INTcmd_id#','#statusAuto#id#','#statusInt#id#');"><i class="fas fa-magic"></i> Ajuster Luminosité</button>
</div>
</center>
<div>

		<label for="#notif_id#_title" style="color:#color#;">Options</label>
		<input id="#notif_id#_title" class="form-control" type="text" data-type="action" data-subtype="message" placeholder="Options Notif.">


			<label for="#notif_id#_message" style="color:#color#;">Message</label>
			<textarea  id="#notif_id#_message" class="form-control" data-type="action" data-subtype="message" placeholder="notification" style="height: 60px;"></textarea>
			<div style="margin:5px 0;">
			<button  class="btn cmd " id="btn#notif_id#" style="background-color:#cmd-background-color#;font-size:0.7em;">Envoyer notification</button>
			</div>
</div>
<div class="cmd noRefresh" id="#CR_id#" data-type="info" data-subtype="binary" data-cmd_id="#CR_id#" style="display:none;">#CR#</div>
<div class="cmd noRefresh" id="#HOR_id#" data-type="info" data-subtype="binary" data-cmd_id="#HOR_id#" style="display:none;"">#HOR#</div>
<div class="cmd noRefresh" id="#SEC_id#" data-type="info" data-subtype="binary" data-cmd_id="#SEC_id#" style="display:none;"">#SEC#</div>
<div class="cmd noRefresh" id="#LED_id#" data-type="info" data-subtype="binary" data-cmd_id="#LED_id#" style="display:none;""></div>
<div id="minuteur#id#" class="cmd" data-type="action" data-subtype="slider" data-cmd_id="#MINcmd_id#">
<center>
<hr />
<p style="text-align:center;">Minuteur  <small>Temps ( mn )</small></p>
 <input id="tempsMin#id#" type="number" class="value" value="#CRTIME#"  min="1" max="600"/>
<center>
<button type="button" class=" bt_minus" style="width:auto;display: inline;padding: 5px;height: auto;background-color:#cmd-background-color#;font-size:1em;"><i class="fa fa-minus"></i></button>
<button type="button" class=" bt_plus" style="width:auto;display: inline;padding: 5px;height: auto;background-color:#cmd-background-color#;font-size:1em;"><i class="fa fa-plus"></i></button>
<button type="button" class=" bt_play" style="width:auto;display: inline;padding: 5px;height: auto;background-color:#cmd-background-color#;font-size:1em;"><i class="fa fa-play"></i></button>
<button type="button" class=" bt_stop" style="width:auto;display: inline;padding: 5px;height: auto;background-color:#cmd-background-color#;font-size:1em;"><i class="fa fa-stop"></i></button>
</center>
	</div>
<div id="infodht#id#">
<hr />
<div style="font-size:1em;">
	<span class="divers-thermometer31 pull-left"></span>
	<span id="#temp_id#" class="cmd  noRefresh pull-left #temp_history# " data-type="info" data-subtype="numeric" data-cmd_id="#temp_id#" title="#temp_collect#"> #temp_text#</span>
</div>

<div style="font-size:1em;">
	<span id="#hum_id#" class="cmd  noRefresh pull-right #hum_history#" data-type="info" data-subtype="numeric" data-cmd_id="#hum_id#" title="#hum_collect#"> #hum_text#</span>
	<span class="fa fa-tint pull-right"></span>
</div>
<div style="clear: both;"></div>

</div>
<hr />
<center>
<button type="button" data-cmd_id="#horOff_id#" title="Horloge Off" style="width:35px;display: inline;padding:5px;height: auto;background-color:#cmd-background-color#;" onclick="actBtn('#horOff_id#','#HOR_id#',0);	adjSn#id#();"><i class="fa fa-power-off"></i></button>
<button type="button" data-cmd_id="#horOn_id#" title="Horloge On" style="width:35px;display: inline;padding:5px;margin-left:0px;height: auto;background-color:#cmd-background-color#;" onclick="actBtn('#horOn_id#','#HOR_id#',1);adjSn#id#();"><i class="far fa-clock"></i></button>
<button type="button"  data-cmd_id="#secOn_id#" title="Afficher Secondes" style="width:35px;display: inline;padding: 5px;height: auto;background-color:#cmd-background-color#;" onclick="actBtn('#secOn_id#','#SEC_id#',1);adjSn#id#();"><i class="fas fa-plus-square"></i></button>
<button type="button" data-cmd_id="#secOff_id#" title="Masquer Secondes" style="width:35px;display: inline;padding: 5px;height: auto;background-color:#cmd-background-color#;" onclick="actBtn('#secOff_id#','#SEC_id#',0);adjSn#id#();"><i class="fas fa-minus-square" ></i></button>
</center>
<center>
<button type="button" data-cmd_id="#lumOn_id#" title="Mode Auto" style="width:35px;display: inline;padding: 5px;height: auto;background-color:#cmd-background-color#;" onClick="autoMode('#statusAuto#id#','#lumOn_id#');"><i class="fas fa-adjust"></i></button>
<button id="btnLedOn#id#" type="button"  data-cmd_id="#ledOn_id#" title="LED ON" style="width:35px;display: inline;padding: 5px;height: auto;background-color:#cmd-background-color#;" onclick="jeedom.cmd.execute({id:'#ledOn_id#'});$('#statusLed#id#').css('color', 'yellow');"><i class="far fa-lightbulb"></i></button>
<button id="btnLedOff#id#" type="button"  data-cmd_id="#ledOff_id#" title="LED OFF" style="width:35px;display: inline;padding: 5px;height: auto;background-color:#cmd-background-color#;" onclick="jeedom.cmd.execute({id:'#ledOff_id#'});$('#statusLed#id#').css('color', '#444444');"><i class="fas fa-lightbulb"></i></button>
</center>
<br />
<script>
	sn#id# = $('#statusNotif#id#').text();
	am#id# = $('#statusAuto#id#').text();
	flash#id# =true;
	if ( '#LED#' !='no')  {
			if ('#LED#' == 1) $('#statusLed#id#').css('color', 'yellow');
			else $('#statusLed#id#').css('color', '#444444');
			}
			else {
			$("#btnLedOn#id#").hide();
			$("#btnLedOff#id#").hide();
		}
	if ('#temp_text#'==" --- ") {
		$("#infodht#id#").hide();
	}

	$('#btn#notif_id#').on('click', function() {
		jeedom.cmd.execute({
			id: '#notif_id#',
			value: {
				'message': $('##notif_id#_message').val(),
				'title': $('##notif_id#_title').val()
			}
		});
	});

	function refreshAm(am,idstatus) {
		if (am == "1") $(idstatus).text("Mode Automatique");
		else $(idstatus).text("Mode Manuel");
	}

	function adjSn#id#() {
		if ($('##HOR_id#').html() == "0") sn#id# = 0;
		else if ('#MINUT#'==1 && $('##CR_id#').html() == "1") sn#id# = 5;
		else if ($('##SEC_id#').html() == "0") sn#id# = 2;
		else sn#id# = 1;
	//	refreshSn();
	}

	function actBtn(idBtn, idState, val) {
		//console.log("valeur : " + idBtn + " id2 :" + idState + " val :" + val);
		jeedom.cmd.execute({
			id: idBtn
		});
		$("#" + idState).html(val);

	}

	function autoMode(idstatus,idLum) {
		jeedom.cmd.execute({
			id: idLum
		});
		refreshAm('1',idstatus);
	}

	function lumMan(idManu,idCmd,idstatus,idInt) {
		lum = $(idManu).val();
		console.log("valeur de intensité : "+lum);
		jeedom.cmd.execute({
		id: idCmd,
		value: {
			'slider': lum
			}
		});
		$(idInt).text(lum);
		refreshAm('0',idstatus);
	}

	$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function() {
		jeedom.cmd.execute({
			id: '#refresh_id#'
		});
	});

	function timeNotif(idstatut,sn,flash)
		{
			if (sn=="0") horNotif="OFF";
			else if (sn=="5") horNotif="Minuteur";
		else {
			horloge = new Date();
			heure = horloge.getHours();
			min = horloge.getMinutes();
			sec = horloge.getSeconds();
			if (sec < 10) sec0 = "0";
			else sec0 = "";
			if (min < 10) min0 = "0";
			else min0 = "";
			if (heure < 10) heure0 = "0";
			else heure0 = "";
			if (sn=="1") horNotif = heure0 + heure + ":" + min0 + min + ":" + sec0 + sec;
			else {
				if (flash) horNotif = heure0 + heure + ":" + min0 + min ;
				else horNotif= heure0 + heure + " " + min0 + min ;
				flash=!flash;
			}
		}
		//console.log(horNotif);
		$(idstatut).text(horNotif);
						return flash;
		}
		// minuteur
		if ('#MINUT#'==1) {
			var inc=parseInt('#increment#');
			if (isNaN(inc)) inc=1;
			var inc = Math.min(Math.max(parseInt(inc), 1), 50);
		$("#tempsMin#id#").attr('step', inc);
		$('.cmd[data-cmd_id=#MINcmd_id#] .bt_plus').on('click', function () {
			$('.cmd[data-cmd_id=#MINcmd_id#] .value').val((parseFloat($('.cmd[data-cmd_id=#MINcmd_id#] .value').val()) + inc));
		});
		$('.cmd[data-cmd_id=#MINcmd_id#] .bt_minus').on('click', function () {
			$('.cmd[data-cmd_id=#MINcmd_id#] .value').val((parseFloat($('.cmd[data-cmd_id=#MINcmd_id#] .value').val()) - inc));
			//$('.cmd[data-cmd_uid=#uid#] .value').trigger('change');
		});
		$('.cmd[data-cmd_id=#MINcmd_id#] .bt_play').on('click', function () {
		//  jeedom.cmd.execute({id: '#id#', value: {slider: $('.cmd[data-cmd_uid=#uid#] .value').val().replace("#unite#", "")}});
		 jeedom.cmd.execute({id: '#MINcmd_id#', value: {slider: $('.cmd[data-cmd_id=#MINcmd_id#] .value').val()}});
		 	$("##CR_id#").html("1");
			adjSn#id#();
		});
		$('.cmd[data-cmd_id=#MINcmd_id#] .bt_stop').on('click', function () {
		//  jeedom.cmd.execute({id: '#id#', value: {slider: $('.cmd[data-cmd_uid=#uid#] .value').val().replace("#unite#", "")}});
		 jeedom.cmd.execute({id: '#MINcmd_id#', value: {slider: 0}});
			 $('.cmd[data-cmd_id=#MINcmd_id#] .value').val(5);
			 $("##CR_id#").html("0");
			 adjSn#id#();
		});
		$('.cmd[data-cmd_id=#MINcmd_id#] .bt_hide').on('click', function () {
		 jeedom.cmd.execute({id: '#CRToggle_id#'});
		 if ($('##CR_id#').html() == "1")  $("##CR_id#").html("0");
		 else $("##CR_id#").html("1");
		  adjSn#id#();
		});
		}
		else {
			console.log("version inferieur a 3.3");
		$('#minuteur#id#').hide();
		}



// déclenchement fonction lors du démarrage



$(function() {
//console.log( "ready!" );
flash#id#=timeNotif('#statusNotif#id#',sn#id#,flash#id#);
refreshAm(am#id#,'#statusAuto#id#');
$("head").prepend('<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">');
setInterval(function(){
	flash#id#=timeNotif('#statusNotif#id#',sn#id#,flash#id#); // toutes les secondes
}, 1000);
});



</script>
</div>
</div>
